###############################################################################
################################DJANGO_SETTINGS################################
###############################################################################
DEBUG=1

# Remember to replace this with your secret key in production environment.
SECRET_KEY=SUPER_SECRET_KEY!

DJANGO_ALLOWED_HOSTS=*

STATIC_URL=/static/
STATICFILES_STORAGE=django.contrib.staticfiles.storage.ManifestStaticFilesStorage
DEFAULT_FILE_STORAGE=django.core.files.storage.FileSystemStorage

DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=library-db
DB_USER=library
DB_PASSWORD=library
DB_HOST=postgres-db
DB_PORT=5432
OPENAPI_ENABLED=true

SECURE_BROWSER_XSS_FILTER=0
X_FRAME_OPTIONS=ALLOW
SESSION_COOKIE_SECURE=0
CSRF_COOKIE_SECURE=0

EMAIL_BACKEND=django.core.mail.backends.filebased.EmailBackend
EMAIL_FILE_PATH=sent_emails
SERVER_EMAIL=admin@example.com
NOREPLY_EMAIL=noreply@example.com
###############################################################################
##############################PostgreSQL settings##############################
###############################################################################
POSTGRES_DB=library-db
POSTGRES_USER=library
POSTGRES_PASSWORD=library

