###############################################################################
################################DJANGO_SETTINGS################################
###############################################################################
DEBUG=0

# Remember to set this with your secret key in production environment.
SECRET_KEY=

DJANGO_ALLOWED_HOSTS=

STATIC_URL=https://{}.s3.amazonaws.com/
STATICFILES_STORAGE=storages.backends.s3boto3.S3Boto3Storage
DEFAULT_FILE_STORAGE=storages.backends.s3boto3.S3Boto3Storage

DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=postgres-db
DB_PORT=5432
OPENAPI_ENABLED=true
SECURE_BROWSER_XSS_FILTER=1
X_FRAME_OPTIONS=DENY
SESSION_COOKIE_SECURE=1
CSRF_COOKIE_SECURE=1

EMAIL_BACKEND=django_ses.SESBackend
SERVER_EMAIL=
NOREPLY_EMAIL=
###############################################################################
###########################Django Storages settings############################
###############################################################################
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_QUERYSTRING_EXPIRE=

